.chat-main
  .group-info
    .left-group-box
      %p.left-group-box__current-group
        okome

      %ul.left-group-box__member-list
        Member :  
        %li.left-group-box__members
          moti

    .right-edit-box
      = link_to "#",class:'right-edit-box__btn' do
        .right-edit-box__btn
          Edit

  .message-list
    .message 
      .message__upper-info
        %p.message__upper-info__talker
          moti
        %p.message__upper-info__date
          2020.2.26.11.50
      .message__text
        Hello,world



  .form
    %form.new_message
      .input-box
        %input{type:"text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas','image')
          %input{type: "file",class: "input-box__image__file"}
      %input{type: "submit",class: "submit-btn"}
      